<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Login</title>
</head>
<body>
	<section class="login-form">
		<h1>게임 업로드</h1>
		<form action="" method="POST">
			<div class="int-area">
				<input type="text" name="name" id="name" autocomplete="off" required>
				<label for="id">게임이름</label>
			</div>
			<div class="int-area">
				<input type="text" name="cont" id="cont" autocomplete="off" required>
				<label for="pw">게임설명</label>
            </div>
			<div class="int-area">
				<input type="text" name="min" id="min" autocomplete="off" required>
				<label for="pw">최소인원</label>
            </div>
			<div class="int-area">
				<input type="text" name="max" id="max" autocomplete="off" required>
				<label for="pw">최대인원</label>
            </div>
			<div class="btn-area">
				<button id="btn" type="submit">입력</button>
			</div>
		</form>
		<div class="caption">
			<a href="/">취소</a>
		</div>
	</section>
</body>