<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/users/logout">로그아웃</a>
		<a href="/users/game_list">게임목록</a>
		<a href="/users/room_list">방목록</a>
		<a href="/users/game_like_list">즐겨찾기</a>
  </body>
</html>
