<!DOCTYPE html>
<html>
  <head>
    <title><%= user_id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user_id %></h1>
    <a href="/users/logout">로그아웃</a>
		<a href="/users/game_list">게임목록</a>
		<a href="/users/room_list">방목록</a>
		<a href="/users/game_like_list">즐겨찾기</a>
  </body>
  <h1>대화</h1>
  <% result.forEach(item => {
    const { user_1, user_2 } = item;
    %>
    <a href=""><%=user_1%>   <%=user_2%></a>
  <%})%>
</body>
</html>
