<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a>
      <a>방이름 인원수 개설자</a>
      <a href="/users/game_insert">즐겨 찾기 추가</a>
      <h1></h1>
    </a>
	<a href="/users/room_insert">방생성</a>
  </body>
</html>
